---
import Layout from "../layouts/Layout.astro";
import "./index.scss";
import logo from "../assets/logo.png";
---

<Layout
  ><div class="home-page">
    <div class="sidebar">
      <img src={logo.src} alt="" />
      <ul class="pages-display">
        <li class="active-li" id="li-0">
          <div class="circle"></div><div class="page-name">
            Personal Information
          </div>
        </li>
        <div class="grow"></div>
        <li id="li-1">
          <div class="circle"></div><div class="page-name">Tenant History</div>
        </li>
        <div class="grow"></div>
        <li id="li-2">
          <div class="circle"></div><div class="page-name">
            Previous Rental Information
          </div>
        </li>
        <div class="grow"></div>

        <li id="li-3">
          <div class="circle"></div><div class="page-name">
            Misc. Information
          </div>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="container">
        <h1>Screening Form</h1>
        <form action="">
          <div class="page first-page active-page" id="0">
            <h2>Personal Information</h2>
            <div class="form-field">
              <label for="full-name">Full Name</label>
              <input type="text" name="full-name" placeholder="John Doe" />
            </div>
            <div class="form-field">
              <label for="date-of-birth">Date of Birth</label>
              <input type="date" name="date-of-birth" />
            </div>
            <div class="form-field">
              <label for="phone-number">Phone Number</label>
              <input
                type="number"
                name="phone-number"
                placeholder="(123) 456-7890"
              />
            </div>
            <div class="form-field">
              <label for="occupation">Current Employer & Occupation</label>
              <input
                name="occupation"
                placeholder="San Juan Medical Center, Nurse"
                class="input-full-width"
              />
            </div>
          </div>
          <div class="page second-page" id="1">
            <h2>Tenant History</h2>
            <fieldset>
              <legend
                >Have you declared bankruptcy in the past 7 years?
              </legend>
              <input type="radio" name="bankruptcy" value="yes" class="radio" />
              <label for="yes">Yes</label>
              <input type="radio" name="bankruptcy" value="No" class="radio" />
              <label for="No">No</label>
            </fieldset>
            <fieldset>
              <legend
                >Have you ever been evicted from a rental residence?
              </legend>
              <input type="radio" name="evicted" value="yes" class="radio" />
              <label for="yes">Yes</label>
              <input type="radio" name="evicted" value="No" class="radio" />
              <label for="No">No</label>
            </fieldset>
            <fieldset>
              <legend
                >Have you had two or more late rental payments in the past year?
              </legend>
              <input type="radio" name="payments" value="yes" class="radio" />
              <label for="yes">Yes</label>
              <input type="radio" name="payments" value="No" class="radio" />
              <label for="No">No</label>
            </fieldset>
            <fieldset>
              <legend
                >Have you been convicted of a felony in the past 10 years?
              </legend>
              <input type="radio" name="felony" value="yes" class="radio" />
              <label for="yes">Yes</label>
              <input type="radio" name="felony" value="No" class="radio" />
              <label for="No">No</label>
            </fieldset>
          </div>
          <div class="page third-page" id="2">
            <h2>Previous Rental Information</h2>
            <div class="form-field">
              <label for="landlord"
                >Current Landlord Reference Information</label
              >
              <input
                name="landlord"
                placeholder="John Doe, 123-456-7890"
                class="input-full-width"
              />
            </div>
            <div class="form-field">
              <label for="address">Current Address</label>
              <input
                name="address"
                placeholder="123 Main St, Albuquerque, NM 12345"
                class="input-full-width"
              />
            </div>
            <div class="form-field">
              <label for="previous"> Previous Address </label>
              <input
                name="previous"
                placeholder="123 Main St, Albuquerque, NM 12345"
                class="input-full-width"
              />
            </div>
            <div class="form-field">
              <label for="reason"> Reason for Leaving: </label>
              <input
                name="reason"
                placeholder="Changed jobs"
                class="input-full-width"
              />
            </div>
          </div>
          <div class="page fourth-page" id="3">
            <h2>Misc. Information</h2>
            <div class="form-field">
              <label for="interests"
                >What are some hobbies or interests that you currently have?</label
              >
              <input
                name="interests"
                placeholder="Running, hiking, etc."
                class="input-full-width"
              />
            </div>
            <fieldset>
              <legend class="legend-italic"
                >Do you understand that this is a single family home that is
                split in 2 (with sliding door) and you will have complete
                privacy and control over the living room and kitchen area and
                not have to share anything?
              </legend>
              <input type="radio" name="understand" value="yes" class="radio" />
              <label for="yes">Yes</label>
              <input type="radio" name="understand" value="No" class="radio" />
              <label for="No">No</label>
            </fieldset>
            <button type="submit" class="submit-button">Submit</button>
          </div>
        </form>
        <div class="buttons">
          <button class="prev"
            ><span class="material-symbols-outlined"> arrow_back </span></button
          >
          <button class="next"
            ><span class="material-symbols-outlined">
              arrow_forward
            </span></button
          >
        </div>
      </div>
    </div>
  </div></Layout
>

<script>
  function nextPage() {
    const element = document.querySelector(".active-page");
    const currentPage = element?.id;
    if (!currentPage) return;
    if (+currentPage >= 3) return;
    const currentLi = document.getElementById(`li-${currentPage}`);
    currentLi?.classList.remove("active-li");
    element?.classList.remove("active-page");
    const nextPage = +currentPage + 1;
    const nextElement = document.getElementById(`${nextPage}`);
    nextElement?.classList.add("active-page");
    const form = document.querySelector("form");
    if (!form) return;
    form.style.transform = `translateX(-${448 * +nextPage}px)`;
    const nextLi = document.getElementById(`li-${nextPage}`);
    nextLi?.classList.add("active-li");
  }

  function prevPage() {
    const element = document.querySelector(".active-page");
    const currentPage = element?.id;
    if (currentPage === "0") return;
    if (!currentPage) return;
    const currentLi = document.getElementById(`li-${currentPage}`);
    currentLi?.classList.remove("active-li");
    element?.classList.remove("active-page");
    const prevPage = +currentPage - 1;
    const prevElement = document.getElementById(`${prevPage}`);
    prevElement?.classList.add("active-page");
    const form = document.querySelector("form");
    if (!form) return;
    form.style.transform = `translateX(-${448 * +prevPage}px)`;
    const prevLi = document.getElementById(`li-${prevPage}`);
    prevLi?.classList.add("active-li");
  }

  function addEventListeners() {
    const nextButton = document.querySelector(".next");
    const prevButton = document.querySelector(".prev");
    nextButton?.addEventListener("click", nextPage);
    prevButton?.addEventListener("click", prevPage);
  }

  addEventListeners();
</script>
